# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Slide files (copyrighted by speakers - run the scripts to download)
*.pdf
*.pptx
*.ppt

# Analysis cache
analysis/cache/

# OS
.DS_Store
